# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Autotools
Makefile
Makefile.in
.deps
.libs
*.la
*.lo
/aclocal.m4
/configure
/config.*
/autom4te.cache
/libtool
/stamp-h1
.dirstamp
/build-aux/*
!/build-aux/git-version-gen
!/build-aux/travis-build.sh
!/build-aux/travis-deploy.sh

# installed .m4 files
/m4/*.m4
!/m4/pkg.m4

# man pages
/blogc*.[17]
blogc*.html

# binaries
/blogc
/blogc-git-receiver
/blogc-runserver

# tests
/tests/check_content_parser
/tests/check_datetime_parser
/tests/check_error
/tests/check_loader
/tests/check_renderer
/tests/check_source_parser
/tests/check_template_parser
/tests/check_utils

# tarballs
blogc-*.tar.*
blogc-*.zip

# rpms
blogc.spec
blogc-*.rpm

# git-version-gen
/.version

/build/
