# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Autotools
Makefile
Makefile.in
.deps
.libs
*.la
*.lo
/aclocal.m4
/configure
/config.*
/autom4te.cache
/libtool
/stamp-h1
.dirstamp
/build-aux/*
!/build-aux/build-*.sh
!/build-aux/check-make-embedded.sh
!/build-aux/clang-analyzer.sh
!/build-aux/git-version-gen
!/build-aux/valgrind.sh

# installed .m4 files
/m4/*.m4
!/m4/ax_pthread.m4
!/m4/pkg.m4

# man pages
/blogc*.[157]
blogc*.html

# binaries
/blogc
/blogc-git-receiver
/blogc-make
/blogc-runserver

# tests
/tests/blogc/check_blogc.sh
/tests/blogc/check_content_parser
/tests/blogc/check_datetime_parser
/tests/blogc/check_loader
/tests/blogc/check_renderer
/tests/blogc/check_source_parser
/tests/blogc/check_template_parser
/tests/blogc-git-receiver/check_pre_receive_parser
/tests/blogc-git-receiver/check_pre_receive.sh
/tests/blogc-git-receiver/check_post_receive.sh
/tests/blogc-git-receiver/check_settings
/tests/blogc-git-receiver/check_shell_command_parser
/tests/blogc-git-receiver/check_shell.sh
/tests/blogc-make/check_atom
/tests/blogc-make/check_blogc_make.sh
/tests/blogc-make/check_exec
/tests/blogc-make/check_rules
/tests/blogc-make/check_settings
/tests/blogc-runserver/check_httpd_utils
/tests/blogc-runserver/check_mime
/tests/common/check_config_parser
/tests/common/check_error
/tests/common/check_stdin
/tests/common/check_utf8
/tests/common/check_utils

# tarballs
blogc-*.tar.*
blogc-*.zip

# rpms
blogc.spec
blogc-*.rpm

# git-version-gen
/.version

# scan-build reports
*.plist

# blogc-github-lambda
/src/blogc-github-lambda/blogc
/src/blogc-github-lambda/LICENSE
/src/blogc-github-lambda/*.pyc
/src/blogc-github-lambda/*.pyo
/src/blogc-github-lambda/*.py

/build/
/root/

/maint/releases/
