Source: blogc
Section: text
Priority: optional
Maintainer: Rafael G. Martins <rafael@rafaelmartins.eng.br>
Build-Depends: debhelper-compat (= 12),
               git,
               libcmocka-dev,
               pkg-config
Standards-Version: 4.5.1
Homepage: https://blogc.rgm.io/
Vcs-Browser: https://github.com/blogc/blogc
Vcs-Git: https://github.com/blogc/blogc.git
Rules-Requires-Root: no

Package: blogc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Blog compiler
 Main binary

Package: blogc-git-receiver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         git,
         make
Description: Blog compiler
 Simple login shell/git hook to deploy blogc websites

Package: blogc-make
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         blogc,
         blogc-runserver
Description: Blog compiler
 Simple build tool for blogc

Package: blogc-runserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Blog compiler
 Simple HTTP server to test blogc websites
